<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="ProductId" [value]="service.formDataProduct.ProductId">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">

                </div>
                <input name="ProductName" #ProductName="ngModel" [(ngModel)]="service.formDataProduct.ProductName"
                    class="form-control" placeholder="Product Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
 
                </div>
                <input name="Image" #Image="ngModel" [(ngModel)]="service.formDataProduct.Image"
                class="form-control" placeholder="Image" required>
            </div>
        </div>
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
 
                    </div>
                    <input name="Price" #Price="ngModel" [(ngModel)]="service.formDataProduct.Price"
                        class="form-control" placeholder="Price" required>
            </div>
        </div>
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input name="Descriptions" #Descriptions="ngModel" [(ngModel)]="service.formDataProduct.Descriptions"
                        class="form-control" placeholder="Descriptions" required>
                </div>
        </div>
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input name="SubCategoryId" #SubCategoryId="ngModel" [(ngModel)]="service.formDataProduct.SubCategoryId"
                        class="form-control" placeholder="Sub Category ID" required>
                </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
        </div>
    </form>