<table class="table table-hover">
        <td>Product Name</td>
        <td>Image</td>
        <td>Price</td>
        <td>Descriptions</td>
    <tr *ngFor="let pd of service.listProduct">
        <td (click)="populateForm(pd)">{{pd.ProductName}}</td>
        <td (click)="populateForm(pd)">{{pd.Image}}</td>
        <td (click)="populateForm(pd)">{{pd.Price}}</td>
        <td (click)="populateForm(pd)">{{pd.Descriptions}}</td>
        <td><i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ProductId)"></i></td>
    </tr>
</table>
